.wasteContainer {
  width: fit-content;
  margin-left: 50px;
}

.wasteContainer img {
  width: fit-content;
  height: 60px;
}

@media (min-height: 400px) {
  .wasteContainer img {
    width: 80px;
    height: 80px;
  }
}
@media (min-height: 650px) {
  .wasteContainer img {
    width: fit-content;
    height: 100px;
  }
}
