.gameContainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-image: url("../../../public/images/wasteSeg/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wasteBinContainer {
  display: flex;
  height: 75%;
  width: 80%;
}

.wasteBackground {
  width: 100vw;
  background-image: url("../../../public/images/wasteSeg/wasteContainer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wasteItemContainer {
  display: flex;
  overflow-x: scroll;
  width: auto;
  /* max-width: 80%; */
  align-items: center;
  height: 100%;

}
