.gameContainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-image: url("../../../public/images/wasteSeg/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wasteBinContainer {
  display: flex;
  height: 75%;
  width: 80%;
}

.wasteItemContainer {
  display: flex;
  overflow-x: scroll;
  width: auto;
  max-width: 80%;
  height: 25%;
}
