.gameContainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.wasteBinContainer {
  display: flex;
  height: 80%;
  width: 80%;
}

.wasteItemContainer {
  display: flex;
  overflow-x: scroll;
  width: auto;
  max-width: 80%;
  height: 20%;
}
