.numberContainer {
  height: 60px;
  background-color: #003341;
  width: 156px;
  display: flex;
  padding: 0px;
  border-radius: 10px;
  position: absolute;
  margin-right: 18px;
  margin-top: -31px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  overflow: hidden;
}
.numberCollContainer {
  display: flex;
  min-width: 100%;
  min-height: 100%;
}
.scrollAnimation {
  animation: scrollUp 2s ease-in-out 1 forwards;
}
.numberBox {
  width: 90%;
  min-height: 90%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 4px;
  color: #e26e2c;
  background-color: white;
  font-weight: 500;
  border-radius: 5px;
  user-select: none;
}

.optionContainer {
  width: 100px;
  height: 250px;
  display: flex;
  flex-direction: column;
}
.optionBox {
  width: auto;
  margin: 5px;
  height: 100%;
  font-size: xx-large;
  border-radius: 10px;
  border: 5px solid #995faf;
  color: white;
  display: flex;
  /* background-color: #641882; */
  background-image: url('../../../public/images/numberJackpot/NumberBG.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
.gameContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* background-color: #33185a; */
}
.progressContainer {
  width: 15px;
  height: 174px;
  display: flex;
  border-radius: 5px;
  background-color: #beb7bf;
  flex-direction: column-reverse;
}
.progressBar {
  width: 100%;
  border-radius: 5px;
  height: 50%;
  background-color: #fd3e33;
}

.questionColor {
  color: #0e03f1;
}
.reset {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  top:332px;
  margin-right: 20px;
  position: absolute;
  background-color: transparent;
  border-radius: 5px;
  height: 38px;
  width: 65px;
}

.numberAndReset {
  display: flex;
  justify-content: center;
  margin-left: 90px;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../public/images/numberJackpot/robotClosed.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  width: 350px;
  position: relative;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url("../../../public/images/numberJackpot/Space.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.titleImage {
  width: 50%;
  height: 80%;
}

/* * {
    box-sizing: border-box;
} */

@keyframes scrollUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-540px);
  }
}
